@import './variables.scss';

.header {
    background-color: #999999;
    display: flex;
}

.header img {
    width: 50px;
}

.main {
    background-color: #eee;
    display: flex;
    gap: 15px;
}

#form{
    align-items: flex-end;
    justify-content: flex-end;
}

.input-search{
    padding: 2px 6px;
    border: none;
    border-radius: 6px;
}
.article1 {
    background-color: rgb(153, 153, 152);
    display: flex;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.article1 img {
    width: 30px;
    align-items: center;
    padding-left: 40px;
}

.imgPokedex{
    height: 450px;
    width: auto;
    & img{
        height: 100%;
        width: auto;
    }
}

.section2 {
    background-color: #999999;
    margin: 20px;
    border-radius: 30px;
    display: flex;
}

.div__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 30px;
    & span, h4 {
        text-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
}

.footer {
    background-color: #999999;
    display: flex;
}

.footer h1 {
    margin-left: 15%;
}

.footer img {
    width: 50px;
}

.div__footer{
    display: flex;
}

.hover:hover {
    background-color: #fff;
}

.pokemones-container {
    padding-top: 0.5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .btn-submit{
    padding: 2px 6px;
    background-color: #e58080;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
  }

@media (max-width:900px) {
    .header {
        display: flex;
        justify-content: center;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .article1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        margin: 0px 20px;
    }

    .article1 figure{
        margin: 8px 0px;
    }

    .article1 img {
        padding-left: 0%;
    }

    .article1 h2{
        margin: 0%;
    }

    .section1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgPokedex{
        position: absolute;
        justify-content: center;
        z-index: 1;
        top: 18%;
    }

    .imgPokedex img{
        height: 250px;
        align-items: center;
    }

    .section2{
        margin-top: 180px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .article2{
        margin: 0%;
        padding: 0px 20%;
    }

    .div__lista{
        display: flex;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer h1{
        margin: 0%;
    }

    .div__footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


}